/* Fondo de la página */
body {
  background: #f0f8ff; /* Un fondo suave */
  font-family: 'Arial', sans-serif;
  padding: 0;
  margin: 0;
}

/* Contenedor principal */
.app-container {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Título principal */
h1 {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

/* Formulario */
form {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

/* Estilizar los campos del formulario */
input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

/* Botón */
button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Cambiar el color del botón al pasar el ratón */
button:hover {
  background-color: #0056b3;
}

/* Lista de jugadores favoritos */
.players-list-container {
  margin-top: 40px;
}

/* Estilo para la lista de favoritos */
ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  background-color: #e0e0e0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.2em;
}

/* Botón de eliminar */
button {
  background-color: #ff4d4d;  /* Color rojo */
  color: white;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Cambiar el color al pasar el ratón */
button:hover {
  background-color: #ff1a1a;
}

